# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/migrations/__pycache__/__init__.cpython-313.pyc
backend/migrations/__pycache__/0009_settings_analysis_delay.cpython-313.pyc
backend/migrations/__pycache__/0008_remove_history_resource_value.cpython-313.pyc
backend/migrations/__pycache__/0007_settings_allow_notifications.cpython-313.pyc
backend/migrations/__pycache__/0006_settings_folder.cpython-313.pyc
backend/migrations/__pycache__/0005_history.cpython-313.pyc
backend/migrations/__pycache__/0004_alerts_recommendations.cpython-313.pyc
backend/migrations/__pycache__/0003_remove_alerts_id_alerts_alert_id_and_more.cpython-313.pyc
backend/migrations/__pycache__/0002_alerts.cpython-313.pyc
backend/migrations/__pycache__/0001_initial.cpython-313.pyc
backend/__pycache__/urls.cpython-313.pyc
backend/__pycache__/TerminatorAI.cpython-313.pyc
backend/__pycache__/SettingsAPI.cpython-313.pyc
backend/__pycache__/Notifications.cpython-313.pyc
backend/__pycache__/models.cpython-313.pyc
backend/__pycache__/info.cpython-313.pyc
backend/__pycache__/HistoryAPI.cpython-313.pyc
backend/__pycache__/AlertsAPI.cpython-313.pyc
core/__pycache__/wsgi.cpython-313.pyc
core/__pycache__/urls.cpython-313.pyc
core/__pycache__/settings.cpython-313.pyc
core/__pycache__/__init__.cpython-313.pyc
db.sqlite3
db.sqlite3
core/__pycache__/wsgi.cpython-313.pyc
core/__pycache__/urls.cpython-313.pyc
core/__pycache__/settings.cpython-313.pyc
core/__pycache__/__init__.cpython-313.pyc
